
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/users/error.css">
</head>
<body>
    
    <h1>ERROR</h1>    
    <p><i><%= err %></i></p>
    <a href="<%= BaseURLComments %>/company">Ir a página principal</a>
    <a href="<%= BaseURLComments %>/users/users/new">Crear Compañía</a>
    
</body>
</html>