<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/users/new.css">
    <title>Crear Usuario</title>
</head>

<body>

    <div class="contenedor-formulario">
        <h1>Nuevo Usuario</h1>
         <!-- Formulario que enviará los datos al servidor para crear un nuevo usuario -->
        <form action="<%= BaseURLComments %>/users/users" method="POST" class="formulario-usuario">
            <div class="grupo-formulario">
                <label for="nif">NIF:</label>
                <input type="text" id="nif" placeholder="NIF..." name="NIF" required>
            </div>

            <div class="grupo-formulario">
                <label for="username">Nombre de Usuario:</label>
                <input type="text" id="username" placeholder="Username..." name="username" required>
            </div>

            <div class="grupo-formulario">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" placeholder="Password..." name="password" required>
            </div>

            <div class="grupo-formulario">
                <label for="firstName">Nombre:</label>
                <input type="text" id="firstName" placeholder="First name..." name="firstName" required>
            </div>

            <div class="grupo-formulario">
                <label for="lastName">Apellidos:</label>
                <input type="text" id="lastName" placeholder="Last name..." name="lastName" required>
            </div>

            <div class="grupo-formulario">
                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="Email..." name="email" required>
            </div>

            <div class="grupo-formulario">
                <label for="createdDate">Fecha de creación:</label>
                <input type="datetime-local" id="createdDate" name="createdDate" required>
            </div>

            <div class="grupo-formulario">
                <label for="modifiedDate">Fecha de modificación:</label>
                <input type="datetime-local" id="modifiedDate" name="modifiedDate" required>
            </div>
             <!-- Selección de perfil del usuario -->
            <div class="grupo-formulario">
                <label for="profile">Perfil:</label>
                <select name="profile" id="profile" required>
                     <!-- Bucle para iterar sobre los perfiles y generar una opción por cada perfil -->
                    <% for(p of profile) { %>
                        <option value="<%= p %>"><%= p %></option>                
                    <% } %>
                </select>
            </div>
 <!-- Botones para guardar los datos o cancelar -->
            <div class="acciones-formulario">
                <button type="submit">Guardar</button>
                <a href="<%= BaseURLComments %>/users/users" class="btn-cancelar">Cancelar</a>
            </div>
        </form>
    </div>

</body>
</html>
